body{
    background-color: burlywood;
    font-family: "Inter", sans-serif;
}

.container{

    max-width: 900px;
    margin: 0 auto;
}

.main{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.form-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.textarea{
  grid-column: 1 /span 2;
}

.form-element{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea, select{
    padding: 10px;
    border: 1px solid black;
    font-size: 15px;
}

button{
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 400;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #FFFFFF;
    color: #FF0000;
    transition: 0.3s ease;
}

.submit{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-end;
}